@media screen and (max-width: 400px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .sfondo {
    background-image: url("BG_Picture.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    height: 38vh;
    z-index: -1;
  }
  .contenuto {
    background-image: linear-gradient(to bottom right, #48003d, #1a2f65);
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 35.34vh;
    padding-top: 6.785%;
    padding-left: 3.39%;
    padding-right: 3.39%;
    padding-bottom: 6.785%;
  }
  .contenuto h1 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
  }
  .contenuto h2 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 500;
  }
  .contenuto p {
    padding-top: 15px;
    color: #e1dbf4;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 43px;
  }
  .contenuto h3 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 24px;
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 14px;
    background-color: #190336;
  }
  .contenuto a {
    color: #ea2b92;
    font-family: Inter, sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
  }

  ul {
    list-style-type: none;
    padding-top: 14px;
    padding-bottom: 47px;
  }
  li {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  ul a {
    display: flex;
    align-items: center;
  }

  ul a span {
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  }
  .contenuto h4 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 24px;
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 14px;
    background-color: #190336;
  }
}
