body {
  flex-direction: column;
}
.sfondo {
  top: 0px;
  height: 27vh;
  width: 100vw;
}

.contenuto {
  position: absolute;
  top: 25vh;
  width: 100vw;
  min-height: 73vh;
  margin-left: 0vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.93vh;
  padding-left: 5.3vw;
  padding-right: 5.3vw;
  padding-bottom: 5.79vh;
}

.contenuto h1 {
  font-size: 32px;
  line-height: 38.73px;
  padding-bottom: 0px;
}
.contenuto h2 {
  font-size: 20px;
  line-height: 24.2px;
  padding-bottom: 15px;
}
.contenuto p {
  line-height: 16px;
  line-height: 21px;
  margin-bottom: 43px;
}

.email {
  margin-top: 18px;
  margin-bottom: 40px;
}

.contenuto h4 {
  font-size: 20px;
  line-height: 24.2px;
}
.github {
  margin-top: 16px;
  margin-bottom: 20px;
}
.email img {
  width: 28.38px;
  height: 18px;
}
.github img {
  width: 28px;
  height: 28px;
}
.linkedin img {
  width: 28px;
  height: 28px;
}
