body {
  flex-direction: column;
}
.sfondo {
  position: static;

  height: 38vh;
  width: 100vw;
}

.contenuto {
  min-height: inherit;
  width: 100vw;
  margin-top: -20px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 7vh;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 7vh;
}

.contenuto h1 {
  font-size: 32px;
  line-height: 39px;
}
.contenuto h2 {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 20px;
}
.contenuto p {
  line-height: 21px;
  margin-bottom: 43px;
}

.email {
  margin-top: 21px;
  margin-bottom: 41px;
}

.contenuto h4 {
  font-size: 20px;
  line-height: 24px;
}
.github {
  margin-top: 21px;
  margin-bottom: 29px;
}
.email img {
  width: 28px;
  height: 20px;
}
.github img {
  width: 26px;
  height: 26px;
}
.linkedin img {
  width: 26px;
  height: 26px;
}
