@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.sfondo {
  background-image: url("photo.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.contenuto {
  background-image: linear-gradient(to bottom right, #48003d, #1a2f65);

  width: 46vw;
  margin-top: 11.82vh;
  margin-right: 5.83vw;
  margin-left: 48vw;
  margin-bottom: 5.57vh;
  padding-top: 10.64vh;
  padding-left: 6.67vw;
  padding-right: 5.42vw;
  padding-bottom: 12vh;
}

.contenuto h1 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 48.41px;
  font-weight: 600;
}
.contenuto h2 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 400;
  padding-bottom: 49px;
}

.contenuto p {
  color: #e1dbf4;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 49px;
}
.contenuto h3 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 16px;
  background-color: #190336;
}

.contenuto a {
  color: #ea2b92;
  font-family: Inter, sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  line-height: 21.78px;
}
.email {
  margin-bottom: 75px;
  margin-top: 25px;
}
.contenuto h4 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;

  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 14px;
  background-color: #190336;
}

ul {
  list-style-type: none;
}
.github {
  margin-bottom: 21px;
  margin-top: 24px;
}
ul a {
  display: flex;
  align-items: center;
}

ul a span {
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}
