@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
}
.sfondo {
  background-image: url("me.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.contenuto {
  background-image: linear-gradient(to bottom right, #48003d, #1a2f65);
  height: 80vh;
  width: 42vw;
  margin-top: 8.4vh;
  margin-right: 6vw;
  padding-bottom: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 8vh;
}

.contenuto h1 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  padding-bottom: 2px;
}
.contenuto h2 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  padding-bottom: 49px;
}

.contenuto p {
  color: #e1dbf4;
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 49px;
}
.contenuto h3 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 14px;
  background-color: #190336;
}

.contenuto a {
  color: #ea2b92;
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}
.email {
  margin-bottom: 57px;
  margin-top: 28px;
}
.contenuto h4 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;

  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 14px;
  background-color: #190336;
}

ul {
  list-style-type: none;
}
.github {
  margin-bottom: 33px;
  margin-top: 28px;
}
ul a {
  display: flex;
  align-items: center;
}

ul a span {
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}
