.contenuto {
  position: fixed;
  width: 64vw;
  min-height: 100vh;
  margin-top: 0vh;
  margin-right: 0vw;
  margin-left: 36vw;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 96px;
}
.contenuto h1 {
  font-size: 36px;
  line-height: 43.57px;
  font-weight: 600;
  padding-bottom: 4px;
}

.contenuto h2 {
  font-size: 20px;
  line-height: 24.2px;
  padding-bottom: 43px;
}

.contenuto p {
  font-size: 16px;
  line-height: 19.36px;
  margin-bottom: 42px;
}
.contenuto h3 {
  font-size: 20px;
  line-height: 24.2px;
}
.contenuto a {
  font-size: 16px;
  line-height: 19.36px;
}
.email {
  margin-bottom: 44px;
  margin-top: 18px;
}
.contenuto h4 {
  font-size: 20px;
  line-height: 24.2px;
}
.github {
  margin-bottom: 20.79px;
  margin-top: 21px;
}

.email img {
  width: 30px;
  height: 20px;
}
.github img {
  width: 30px;
  height: 30px;
}
.linkedin img {
  width: 30px;
  height: 30px;
}
